@model PaginatedList<AsianShop.Models.Product>

@{
    IEnumerable<AsianShop.Models.Type> types = ViewData["Types"] as IEnumerable<AsianShop.Models.Type>;    
}

    <div id="wrapper">
       <form method="get" id="sortForm">
            @Html.DropDownList("sort", new SelectList(ViewBag.sortOptions,"Value","Text"), new {@class="form-control", onchange = "sortingChanged()" })
        <div class="sideBar">
                <strong>Search for products</strong>
                <input type="text" class="searchBar" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search.."/>            
            <hr />
            <h6>Price</h6>
                <div>
                    <input type="number" class="priceRangeInput" name="minPrice" value="@ViewData["MinPriceFilter"]" oninput="validity.valid||(value='');"  />
                    <span>Min</span>
                </div>
                <div>
                    <input type="number" class="priceRangeInput" name="maxPrice" value="@ViewData["MaxPriceFilter"]" oninput="validity.valid||(value='');" />
                    <span>Max</span>
                </div>
                <br />
                <hr>
            <h6>Types</h6>
            
            <div>
                @foreach (var type in types)
                {
                    if (ViewBag.checkedTypes != null && ViewBag.checkedTypes.Contains(type.id))
                    {
                        <input type="checkbox" name="checkedTypes" value="@type.id" checked />
                    }
                    else
                    {
                        <input type="checkbox" name="checkedTypes" value="@type.id" />
                    }
                   

                    <label>@type.Name</label>
                     <br>
                }
                  
            </div>
                <button type="submit" class="btn customGreen" >Set filters</button>

            </form>
            
            <br />
        </div>
        
        <div class="row productsRow">

            @{

                foreach(var p in @Model)
                {
                    <input type="hidden" id="test" value="@p">
                    <div class="column">
                    <div class="card">
                    <a asp-action="Details" asp-route-id="@p.Id">
                        <img alt="@p.Name" class="contain" src="@p.FilePath" height="300" style="width: 100%;" />
                    </a>
                    <h3>@p.Name</h3>
                    <p class="price">@p.Price kr/@p.Unit</p>
                    <a asp-action="Details" asp-route-id="@p.Id">
                        <button class="customGreen">See more</button>
                    </a>
                </div>
                </div>
                }
                
            }
            
        </div>
        <div class="row productsRow" >
            <div class="column" id="emptySearch" style="display: none;">
                <p><strong>We couldn't find what you are looking for</strong></p>
            </div>
        </div>
    </div>
    @{
        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    }
    
    <div class="nextPrev">
        <a asp-action="Index"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-pageNumber="@(Model.PageIndex - 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="btn btn-default customYellow @prevDisabled">
            <strong><</strong>
        </a>
        <a asp-action="Index"
        asp-route-sortOrder="@ViewData["CurrentSort"]"
        asp-route-pageNumber="@(Model.PageIndex + 1)"
        asp-route-currentFilter="@ViewData["CurrentFilter"]"
        class="btn customYellow @nextDisabled">
            <strong>></strong>
        </a>
    </div>
    
    <script type="text/javascript">  
        function sortingChanged() {  
        //Form post  
            $("#sortForm").submit();  
        }  
    </script>  
