@model IEnumerable<Product>
<div id="wrapper">
   <div class="sideBar">
      <strong>Search for items</strong>
      <input type="text" class="searchBar" placeholder="Search..">
      <p>Types</p>
      <a href="#services">Services</a>
      <a href="#clients">Clients</a>
      <a href="#contact">Contact</a>
   </div>
   <div class="row productsRow">
      @foreach (var n in Model.Reverse())
      {
         var picturePath = n.FilePath;
         var price = n.Price +" kr/" +n.Unit;
      <div class="column">
            <div class="card">
               <a asp-action="Details" asp-route-id="@n.Id">
               <img alt="@n.Name" class="contain" src="@picturePath" height="300" style="width:100%"/>
               </a>
               <h3>@n.Name</h3>
               <p class="price">@price</p>
               <a asp-action="Details" asp-route-id="@n.Id"><button class="customGreen">See more</button></a>
            </div>
      </div>
      }
   </div>
</div>
