@model AsianShop.Models.Product

<div id="clientView" v-cloak>
    <h1>@Html.DisplayFor(model => model.Name)</h1>
                <hr/>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Price):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Price) kr/@Html.DisplayFor(model => model.Unit)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Type.Name):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Type.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.From):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.From)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.About):
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.About)
                    </dd>
                </dl>
                <hr/>
                <p id="warning"></p>
                <h3>Add to cart</h3>
                <p id="amountMessage" style="display:none;color:red;"></p>
                <select class="cart-quantity-input" name="selectQuantity" id="selectQuantity"></select>
                <span style="margin-left:-25px;" id="unit">
                    @Html.DisplayFor(model => model.Unit)
                </span>
                <br><br>
                <input id="productAmount" type="hidden" value="@Model.Amount">
                <input id="name" type="hidden" value="@Model.Name">
                <input id="price" type="hidden" value="@Model.Price">
                <input id="filePath" type="hidden" value="@Model.FilePath">
                <button type="button" class="btn btn-lg btn-success" id="addCart" value="@Model.Id" v-on:click="addOrderLine">Add to cart</button>
                
</div>
